# Logs
logs
*.log
npm-debug.log*

# Dependency directory
/backend/node_modules
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# Optional npm cache directory
/backend/.npm

# Optional REPL history
.DS_Store
.idea
.vscode 

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local